@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<fieldset style="border:1px solid;">


<div class="row" style="margin-bottom:20px; margin-top:3px;">
  <div class="col-md-3">
      <div class="card">
          <div class="card-header text-center">
              MOCHILA CFN 45L
          </div>

          <div class="card-body text-center">
              @ViewBag.qtd01
          </div>
      </div>
  </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                MOCHILA  DE ASSALTO 20L
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd02
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                REFIL HIDRATAÇÃO
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd03
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                ISOLANTE TÉRMICOC/CAPA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd04
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
  <div class="col-md-3">
      <div class="card">
          <div class="card-header text-center">
                    CINTO SIMPLES VELCRO S/ ILHÓS
          </div>

          <div class="card-body text-center">
              @ViewBag.qtd05
          </div>
      </div>
  </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    COLETE TAT. MOD.
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd06
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PORTA CARREGADOR M-16 TAT. MOD.
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd07
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PAINEL DE PERNA TAT. MOD.
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd08
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    BORNAL TAT. MOD.
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd09
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    COLDRE DE PERNA REGULÁVEL CFN
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd10
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    FIEL RETRÁTIL
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd11
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PORTA CARREGADOR PST  TAT. MOD.
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd12
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    BARRACA IGLU
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd13
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    EDREDOMC/ SACO TRANSPORTE
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd14
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    SACO DE DORMIR C/SACO TRANSPORTE
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd15
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    ANORAK
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd16
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PONCHO
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd17
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    MARMITA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd18
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    TALHER DE CAMPANHA
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd19
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    CANTIL
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd20
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    CANECO DOCANTIL
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd21
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    BÚSSOLA SILVA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd22
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PORTA BÚSSOLA TAT. MOD.
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd23
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    SACO COLETOR DE CARR. TAT. MOD.
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd24
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PORTA GRANADA TAT. MOD
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd25
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    SACO DE TRANSPORTE VERDE
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd26
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    FACÃO
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd27
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    MOCHILA DE HIDRATA25L
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd28
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    MOSQUITEIRO DE CABEÇA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd29
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    BALACLAVA LÃ VERDE
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd30
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    BALACLAVA MALHA VERDE
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd31
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    JOELHEIRA TÁTICA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd32
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-bottom:20px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    COTOVELEIRA TÁTICA
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd33
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    PÁ BIARTICULADAC/ESTOJO
                </div>

            <div class="card-body text-center">
                @ViewBag.qtd34
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                    APITO VERDE
            </div>

            <div class="card-body text-center">
                @ViewBag.qtd35
            </div>
        </div>
    </div>
   @* <div class="col-md-3">
        <div class="card">
            <div class="card-header">
            </div>

            <div class="card-body">
            </div>
        </div>
    </div>*@
</div>

</fieldset>